/* --- COLORES PARA EL FORMULARIO --- */
:root {
    --color-azul: #3498db;   
    --color-negro: #0f172a;      
    --color-blanco-cristal: rgba(255, 255, 255, 0.9); /* Blanco un poco transparente */
    --color-borde-suave: rgba(52, 152, 219, 0.2);           
    --color-gris-borde: #cbd5e1;     
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-azul); /* Fondo azul para el contacto */
}

.mi_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.menu_nav {
    display: flex; 
    gap: 25px; 
    background-color: var(--color-azul); 
    padding: 10px 20px;
    border-radius: 8px;
}

.menu_nav a {
    text-decoration: none;
    color: white; 
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

.mi_header_peque {
    background-color: var(--color-negro);
    padding: 10px 0;
}

.azul_resaltado { color: var(--color-negro) }

/* La caja blanca del formulario con sombrita para que flote */
.caja-contacto {
    background-color: var(--color-blanco-cristal);
    padding: 40px;
    border-radius: 15px;
    max-width: 600px;
    margin: 40px auto 80px auto;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

.caja-contacto label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: var(--color-negro);
}

/* Estilos para los cuadros donde escribes */
.caja-contacto input[type="text"],
.caja-contacto input[type="email"],
.caja-contacto select {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 2px solid var(--color-gris-borde);
    border-radius: 6px;
}

.etiqueta-form { margin-top: 20px; font-weight: bold; color: var(--color-negro); }

/* Para que los radios y checks salgan al lado del texto */
.label-inline {
    display: inline !important;
    font-weight: normal !important;
    margin-left: 5px;
    margin-right: 15px;
    color: var(--color-negro);
}

.botones { margin-top: 30px; display: flex; gap: 10px; justify-content: center; }

/* El botón azul de enviar */
.cta {
    background-color: var(--color-azul);
    color: white;
    border: none;
    padding: 13px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Botón de borrar con un gris suave */
.btn-borrar {
    background-color: #f1f5f9;
    color: #64748b;
    border: 1px solid #cbd5e1;
    padding: 13px 25px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: var(--color-negro);
    color: var(--color-azul);
}

.footer_social { display: flex; justify-content: center; gap: 20px; margin-bottom: 10px; }
.footer_social img { width: 25px; height: 25px; }

.logo {
    flex: 0 1 auto;
    max-width: 60px;
    margin-left: 20px;
}

.logo img {
    width: 100%; 
    height: auto; 
    display: block;
}